#******************************************************************#
# Sample Makefile.config.  Be sure to edit this to your likings    #
# and copy it to Makefile.config.                                  #
#******************************************************************#

#------------------------------------------------------------------#
# Select the target system                                         #
# (define your own, if needed!)                                    #
#------------------------------------------------------------------#
#SYSTEM =	"Standard SQL"
SYSTEM =	"Standard OpenMP"
#SYSTEM =	"Standard MPI"
#SYSTEM =	"Standard MPI+OpenMP"
#SYSTEM =	"Legacy System"
#SYSTEM =	"HYDRO OpenMP"
#SYSTEM	=	"Belvedere"
#SYSTEM =	"hlrb2"
#SYSTEM	=	"castor"

#------------------------------------------------------------------#
# DEFINEFLAGS                                                      #
#------------------------------------------------------------------#
#_______________either define them manually right here in one place...
DEFINEFLAGS	=	-DSTANDARD 
DEFINEFLAGS    	    += 	-DMULTIMASS
DEFINEFLAGS	    +=	-DGADGET_IDS
DEFINEFLAGS    	    +=	-DGAS_PARTICLES
DEFINEFLAGS	    +=  -DGADGET_LUNIT_KPC
DEFINEFLAGS	    +=	-DAHFmaxdenscentre
#DEFINEFLAGS	    +=	-DAHFpotcentre
#DEFINEFLAGS	    += 	-DAHFcomcentre #redefined
DEFINEFLAGS	    +=  -DAHFcentrefile

# B01, B20, B50, B100
#---------------------
#DEFINEFLAGS	+=	-DMULTIMASS 

# Box20b
#--------
#DEFINEFLAGS	+=	-DMULTIMASS -DBYTESWAP

# SigmaBox, HaloesGoingMAD
#--------------------------
#DEFINEFLAGS	+=	-DMULTIMASS -DGADGET_LUNIT_KPC

# SubhaloesGoingNotts (A3-A1)
#----------------------------
#DEFINEFLAGS	+=	-DMULTIMASS -DAQUARIUSfocus -DDOUBLE -DDVIR_200RHOCRIT

# Box160, LGR2Mpc, MW1.512, ... (basically any GADGET output produced by Gustavo!)
#---------------------------------------------------------------------------------
#DEFINEFLAGS	+=	-DMULTIMASS -DGAS_PARTICLES -DGADGET_LUNIT_KPC -DMETALHACK

# CLUES-gasblobs
#----------------
#DEFINEFLAGS	+=	-DMULTIMASS -DGAS_PARTICLES -DGADGET_LUNIT_KPC -DAHFptfocus=0 -DAHFnoremunbound -DDVIR_200RHOCRIT -DMANUAL_DVIR=200

# MW1.1024g1bwk, g1536, GALFOBS
#-------------------------------
#DEFINEFLAGS    +=      -DMULTIMASS -DGAS_PARTICLES -DBYTESWAP

# LTBvoids
#----------
#DEFINEFLAGS     +=      -DGADGET_LUNIT_KPC -DAQUARIUSfocus -DDVIR_200RHOCRIT

# GHALO
#-------
#DEFINEFLAGS	+=	-DMULTIMASS -DTIPSY_ZOOMDATA -DGAS_PARTICLES
#DEFINEFLAGS	+=	-DMULTIMASS -DGAS_PARTICLES -DBYTESWAP

# cubep3m test
#--------------
#DEFINEFLAGS	+=	-DDEBUG_CUBEP3M

# AMIGA MHD solver
#------------------
#DEFINEFLAGS	+=	-DPM -DHYDRO -DMONOATOMIC -DHYDRO_TEST=7 -DVERBOSE			# hydro tests
#DEFINEFLAGS	+=	-DPM -DHYDRO -DINIT_DMHYDRO -DHYDRO_TEST=3 -DVERBOSE #-DMHD -DDEBUGMHD 	# MHD tests








#------------------------------------------------------------------#
# Set environment for the system                                   #
#------------------------------------------------------------------#
ifeq ($(SYSTEM), "Standard SQL")
	CC         	=	gcc -std=c99 -fopenmp
	FC 	      	=	gfortran
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=	-lsqlite3
	DEFINEFLAGS	+=	-DWITH_OPENMP -DAHF_SQL
	MAKE		=	make
endif

ifeq ($(SYSTEM), "Standard OpenMP")
	CC         	=	gcc -std=c99 -fopenmp
	FC 	      	=	gfortran
	OPTIMIZE	=	-O2
	CCFLAGS		=	
	LNFLAGS		=
	DEFINEFLAGS	+=	-DWITH_OPENMP 
	MAKE		=	make
endif

ifeq ($(SYSTEM), "Standard MPI")
	CC         	=	mpicc -std=c99 -Wall -W
	FC         	=	mpif90
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	-DWITH_MPI
	MAKE		=	make
endif

ifeq ($(SYSTEM), "Standard MPI+OpenMP")
	CC         	=	mpicc -std=c99 -Wall -W -fopenmp
	FC         	=	g77
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	-DWITH_MPI
	MAKE		=	make
endif

ifeq ($(SYSTEM), "Legacy System")
	CC         	=	gcc -std=c99 
	FC 	      	=	g95
	OPTIMIZE	=	-O2 
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	
	MAKE		=	make
endif

ifeq ($(SYSTEM), "HYDRO OpenMP")
	CC         	=	gcc -std=c99 -fopenmp
	FC 	       	=	g77
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	-DWITH_OPENMPM 
	MAKE		=	make
endif

ifeq ($(SYSTEM), "Belvedere")
	CC              =       icc -std=c99 -openmp
	FC              =       g77
	OPTIMIZE        =       -O3 -fast
   	CCFLAGS         =
   	LNFLAGS         =
   	DEFINEFLAGS     +=       -DWITH_OPENMP 
   	MAKE            =       make
endif

ifeq ($(SYSTEM), "hlrb2")
	CC         	=	mpicc -no-gcc -std=c99
	FC 	       	=	g77
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	
	MAKE		=	make
endif

ifeq ($(SYSTEM), "castor")
	CC         	=	/home/knollmann/opt/openmpi-1.3.3-intel11/bin/mpicc -std=c99 -Wall -W
	FC         	=	g77
	OPTIMIZE	=	-O2
	CCFLAGS		=
	LNFLAGS		=
	DEFINEFLAGS	+=	-DWITH_MPI 
	MAKE		=	make
endif



