backup
doc

DTgaia
DTcoll
DTwalk
DTobs
DTtriax
DThern
DTclus
DTdisc
DTdiscmock
DTdiscsim
active_runs
run_info


\#*
\.\#*
*.pdf
*.png
*~
*.orig
*.rip
*.pstats

*.aux
*.bbl
*.blg
*.dvi
*.log
*.out

*.svn

CVS
*.o
auto
*.el
ramses
/NEC/ramses


*.log
RunJob*
*DS_Store*
__pycache__
*.pyc
._*
holding_stack

*.o
