DTgaia
DTcoll
DTwalk
DTobs
DTclus
DTdisc
DTtriax
DTdiscmock
DTdiscsim
DThern
backup
\#*
\.\#*
*.png
*~
*.orig
*.rip

*.aux
*.bbl
*.blg
*.dvi
*.log
*.out

*.svn
amiga

CVS
*.o
auto
*.el
/merge_neccheck/ramses
