backup
doc

DTgaia
DTcoll
DTwalk
DTobs
DTtriax
DThern
DTclus
DTdisc
DTdiscmock
DTdiscsim

\#*
\.\#*
*.pdf
*.png
*~
*.orig
*.rip

*.aux
*.bbl
*.blg
*.dvi
*.log
*.out

*.svn
amiga

CVS
*.o
auto
*.el
ramses
/NEC/ramses


*.log
RunJob*
*DS_Store*
__pycache__
*.pyc
._*
holding_stack

*.o
